*{
    font-family: "sigmar";
}

body {
  margin: 0;
}
h2{
    opacity: .4;
}
.main {
  background: linear-gradient(#00c9ff, #92fe9d);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-card {
  background-color: white;
  width: 800px;
  border-radius: 15px;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
img {
    max-width: 300px; 
    border-radius: 15px;
}
h1{
  font-family: "Sigmar One", cursive;
}
span {
  opacity: 0.5;
}
li {
  list-style: none;
}
ul{
    padding:0; 
}
.main-card-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-card-content-right {
max-width: 400px;
}
.top {
  height: 30%;
}
.middle {
  height: 50%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:30px 0;
}
.bottom {
  height: 20%;
  font-size: x-large;
  display: flex;
 align-items: center;
 justify-content: space-between;
 width: 60%;
}
.bottom ul>{
    display: inline-block;
    /* flex-direction: row; */
}
i {
  font-size: 30px;
  color: #00c9ff;
}
.icon{
    margin-right:1em; 
}
.iconDown:hover{
    transform: scale(1.3);
    color: #92fe9d ;
    transition: .3s;

}
.iconDown{
    transition: .3s;

}
